a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* Container button style */


/* Image inside the button */
.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Dropdown menu styles */
@media (max-width: 768px) {
  .dropdown-menu {
    left: 0 !important; /* Align dropdown to the left for small screens */
    right: auto !important;
  }
}

/* General Dropdown Menu Styles */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn:focus + .dropdown-menu,
.btn:hover + .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Dropdown list styles */
.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  border-bottom: 1px solid #f1f1f1;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li a {
  display: block;
  padding: 0.75rem 1rem;
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu ul li a:hover {
  background-color: #f9f9f9;
  color: #000;
}


 
